@font-face {
  font-family: "El señor de los anillos";
  src: url("/fonts/el_señor_de_los_anillos.ttf") format("truetype");
}

.contenedor-principal-homeView {
  display: flex;
  flex-direction: column;

  h1,
  h2 {
    padding-top: 0.5rem;
    color: #f8cd5a;
    font-family: "El señor de los anillos", sans-serif;
    text-shadow: 1px 1px 0px #ffffff, -1px -1px 0px #000000;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 7rem);
  background-image: linear-gradient(rgba(5, 5, 5, 0.6), rgba(0, 0, 0, 0.01)),
    url("/images/fondo.jpg");
  background-size: cover;

  .card-home-apis {
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 2px 2px RGB(248, 205, 90, 0.9);
      transform: scale(1.05);
    }
  }
}
