@import "../../themes/variablesAltura/variablesAltura.scss";

@import "../../themes/variablesColores/variablesColores.scss";

.contenedor-principal-footerApp {
  background-color: $colorPrimary;
  height: $heightFooter;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;

  p {
    margin: 0;
    a {
      text-decoration: none;
      color: #9b9d9e;
    }
  }
}
