@import "../../themes/variablesAltura/variablesAltura.scss";

@import "../../themes/variablesColores/variablesColores.scss";

.contenedor-principal-footerApp {
  background-color: $colorPrimary;
  height: $heightFooter;
  color: #f8cd5a;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;

  p {
    margin: 0;
    a {
      text-decoration: none;
      color: #f8cd5a;
    }

    @media (max-width: 576px) {
      font-size: 0.7rem;
    }
  }
}
